
.toggle_radio{
  position: relative;
  background: #cccccc7d;
  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 110px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio label{
  font: 90%/1.618 'Open Sans', sans-serif;
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 30px;
  height: 20px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}

#toggle_option_slider{
  /*display: none;*/
  /*background: red;*/
  width: 36px;
  height: 20px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}



#true:checked ~ #toggle_option_slider{
  background: #4ac31982;
  left: 0px;
}
#false:checked ~ #toggle_option_slider{
  background: #cc113282;
  left: 36px;
}
#na:checked ~ #toggle_option_slider{
  background: #524d4da6;
  left: 72px;
}
